<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Detalle del Producto</h1>
        <div class="producto-detalle">
            <div class="producto-detalle-imagen">
                <img src="/img/products/<%= producto.image %>" alt="" class="imagen">
            </div>
            <div class="producto-detalle-caracteristicas">
                <h2><%= producto.name %></h2>
                <h3>* * * * * 5 opiniones</h3>
                <h2>$ <%= producto.price %></h2>
                <h2>Descripción</h2>
                <h3><%= producto.description %></h3>
                <h2>Categoría: </h2>
                <h3><%= producto.category %></h3>
            </div>
        </div>
        <div class="producto-detalle-caracteristicas-botones">
            <button type="submit" class="producto-detalle-caracteristicas-botones-submit"><a href="/products/edit/<%= producto.id %>">Editar</a></button>
            <button type="submit" class="producto-detalle-caracteristicas-botones-submit"><a href="/products/create">Agregar</a></button>
            <button type="submit" class="producto-detalle-caracteristicas-botones-submit"><a href="/products/delete/<%= producto.id %>">Borrar</a></button>
            <button type="submit" class="producto-detalle-caracteristicas-botones-submit">Comentar</button>
            <button type="submit" class="producto-detalle-caracteristicas-botones-submit">Agregar al Carrito</button>
        </div>
        <h1>Productos Similares</h1>
        <div class="novedades-productos">
            <% productosCategory.forEach(function(producto){ %>
                <div class="productos">
                    <div class="productos-imagen">
                        <img src="/img/products/<%= producto.image %>" alt="">
                    </div>
                    <div class="productos-info">
                        <p class="productos-info-titulo"><%= producto.name %></p>
                        <p>$ <%= producto.price %></p>
                    </div>
                    <div class="productos-info-botonera">
                        <a href="/products/detail/<%= producto.id %>">Ver más</a>
                        <i class="fas fa-truck"></i>
                    </div>
                </div>
            <% }) %>
        </div>
        <h1>Comentarios</h1>
        <div class="productos-comentarios">
            <div class="productos-comentarios-logo">
                <i class="fas fa-user"></i>
            </div>
            <div class="productos-comentarios-usuario">
                <h2>Marcela</h2>
                <h3>31 de mayo 2023</h3>
                <h3>*****</h3>
            </div>
            <div class="productos-comentarios-comentario">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis non ad sed modi ipsum cum exercitationem reprehenderit quae voluptatibus, adipisci quos praesentium unde quibusdam ipsa placeat, saepe aliquam perspiciatis.</h3>
            </div>
        </div>
        <div class="productos-comentarios">
            <div class="productos-comentarios-logo">
                <i class="fas fa-user"></i>
            </div>
            <div class="productos-comentarios-usuario">
                <h2>Silvia</h2>
                <h3>29 de mayo 2023</h3>
                <h3>*****</h3>
            </div>
            <div class="productos-comentarios-comentario">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis non ad sed modi ipsum cum exercitationem reprehenderit quae voluptatibus, adipisci quos praesentium unde quibusdam ipsa placeat, saepe aliquam perspiciatis.</h3>
            </div>
        </div>
        <div class="productos-comentarios">
            <div class="productos-comentarios-logo">
                <i class="fas fa-user"></i>
            </div>
            <div class="productos-comentarios-usuario">
                <h2>Kely</h2>
                <h3>15 de mayo 2023</h3>
                <h3>*****</h3>
            </div>
            <div class="productos-comentarios-comentario">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis non ad sed modi ipsum cum exercitationem reprehenderit quae voluptatibus, adipisci quos praesentium unde quibusdam ipsa placeat, saepe aliquam perspiciatis.</h3>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/footer')  %>
</body>
</html>