<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <main>
        <div class="novedades">
            <h1>Novedades</h1>
            <div class="novedades-productos">
                <% products.forEach(function(producto){ 
                    if(producto.order == 1){ %>
                        <div class="productos">
                            <div class="productos-imagen">
                                <img src="/img/products/<%= producto.image %>" alt="Canastos leñeros">
                            </div>
                            <div class="productos-info">
                                <p class="productos-info-titulo"><%= producto.name %></p>
                                <p>$ <%= producto.price %></p>
                            </div>
                            <div class="productos-info-botonera">
                                <a href="/products/detail/<%= producto.id %>">Ver más</a>
                                <i class="fas fa-truck"></i>
                            </div>
                        </div>
                <% }}) %>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/footer')  %>
</body>
</html>