<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%-include('../partials/header.ejs')  %>
    <main>
        <h1>Login de usuarios</h1>
        <form action="/login" method="post" class="login">
            <div class="login-datos">
                <label for="email">Email: </label>
                <% if(locals.errors && errors.email){ %>
                    <div class="error-msg"><%= errors.email.msg %></div> 
                <% } %>
                <input type="email" name="email" id="email" value="<%= locals.oldData ? oldData : null  %>">
            </div>
            <div class="login-datos">
                <label for="password">Contraseña: </label>
                <% if(locals.errors && errors.password){ %>
                    <div class="error-msg"><%= errors.password.msg %></div> 
                <% } %>
                <input type="password" name="password" id="password">
            </div>
            <div class="edicion-datos-control">
                <label for="remember">Recordar contraseña: </label>
                <input type="checkbox" name="remember" id="remember">
            </div>
            <div class="login-botones">
                <button type="submit">Ingresar</button>
                <button type="submit"><a href="/register">Crear cuenta</a></button>
            </div>
        </form>
    </main>
    <hr>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>